body
{
    background-color: #1D3557;
    color: #f1faee;
    font-family: Arial;
    margin:0;
}

.caja{
    width: 200px;
    border: 1px solid #abdadc;
    margin-bottom: 50px;
}

.tipo-a{
    margin: 0 auto;
}

.tipo-b{
    margin-left: calc(100vw/2 - 100px);
}

.tipo-c .caja{
    display: inline-block;
    text-align: left;
}

.relative{
    position: relative;
    border: 1px solid #457b9d;
    height: 400px;
}

.tipo-d{
    position: absolute;
    left: 0;
    right:0;
    margin: 0 auto;
}

.tipo-e{
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.tipo-f {
    display: flex;
    justify-content: center;
}

.tipo-g{
    display: table;
    width: 100%;
    height: 500px;
}

.tipo-g .caja{
    display: table-cell;
    width: 100px;
    vertical-align: central;
}

.height{
    height: 500px;
    background: #e63946;
}

.tipo-h{
    box-sizing: border-box;
    padding-top: 150px;
}

.tipo-i{
    display: flex;
    align-items: center;
    justify-content:center;
}

.tipo-j{
    line-height: 500px;
    text-align: center;
}

.tipo-k > * {
    display: inline;
    vertical-align: middle;
}